# from: https://github.com/github/gitignore
# 
# for excluding operating system or editor specific files use:
# git config --global core.excludesfile '~/.gitignore'
# and https://github.com/github/gitignore/tree/master/Global

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Testing / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.cover




